{% extends 'base.html' %}

{% block title %}
Luma AutoRent - Отзывы Клиентов
{% endblock %}

{% block content %}
<div id="feedback_page" class="page">
    <h1>
        Отзывы Клиентов
    </h1>
    <div class="feedback_page_content">
        <div class="feedback_card">
            <h2>Женя Нестеров</h2>
            <div class="f_date">
                10 мая 2020 – Яндекс карты
            </div>
            <p>Брал Nissan GT-R на сутки. Очень часто пользуюсь разными прокатами, и беру самые разные авто. От АвтоВАЗа
                и газелей вплоть до майбахов и спорткаров. В Moscow dream cars самый крутой сервис и тачки в самом
                лучшем состоянии. Машины чистые, наполированные, даже шины почерненые. Очень клиентоориентированный
                прокат и сотрудники (сравниваю с десятком других прокатов). Ребята, Вы лучшие, спасибо Вам. Обязательно
                приду к Вам ещё раз. И сорри за превышения скорости, все штрафы оплачу🤪</p>
        </div>
        <div class="feedback_card">
            <h2>Женя Нестеров</h2>
            <div class="f_date">
                10 мая 2020 – Яндекс карты
            </div>
            <p>Брал Nissan GT-R на сутки. Очень часто пользуюсь разными прокатами, и беру самые разные авто. От АвтоВАЗа
                и газелей вплоть до майбахов и спорткаров. В Moscow dream cars самый крутой сервис и тачки в самом
                лучшем состоянии. Машины чистые, наполированные, даже шины почерненые. Очень клиентоориентированный
                прокат и сотрудники (сравниваю с десятком других прокатов). Ребята, Вы лучшие, спасибо Вам. Обязательно
                приду к Вам ещё раз. И сорри за превышения скорости, все штрафы оплачу🤪</p>
        </div>
    </div>
</div>
{% endblock %}