{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block title %}
Luma AutoRent
{% endblock %}

{% block content %}
<header id="header">
    <video class="header_video" src="{% static 'videos/your-video.mp4' %}" autoplay loop muted></video>
    <img class="header_image" src="{% static 'img/your-image.png' %}" alt="Аренда авто" />
    <div class="header_block">
        <h1>Номер 1 автопрокат на рынке Казахстана</h1>
        <h3>Хотите защитить себя от мошенников? Обратитесь к нам!</h3>
        <a href="{% url 'autopark' %}" class="button">Просмотреть Автопарк <ion-icon name="arrow-forward-outline"></ion-icon></a>
    </div>
    <div class="header_contact_block">
        <div class="c_btns_container"></div>
            <a href="tel:+77001550555" class="c_btn c_btn_tg">Связаться с Менеджером</a>
            <a href="https://api.whatsapp.com/send/?phone=77001550555&text&type=phone_number&app_absent=0" class="c_btn c_btn_wa">Связаться в Whatsapp</a>
        </div>
    </div>
</header>
<div class="pageAfterHeader_about_grid">
    <div class="pahag_row">
        <div class="pah_bg">
            <img src="media/line1.png" alt="">
            <img src="media/line2.png" alt="">
        </div>
        <div class="pah_card">
            <h1>10 лет</h1>
            <p>На рынке</p>
        </div>
        <div class="pah_card">
            <h1>48</h1>
            <p>Авто в парке</p>
        </div>
        <div class="pah_card">
            <h1>> 10.000 </h1>
            <p>Довольных Покупателей</p>
        </div>
    </div>
</div>

<div class="page" id="page2">
    <div class="page_block">
        <h1 id="o_company">О Компании</h1>
        <div class="page2_about">
            <div class="p2a_title">
                Luma AutoRent
            </div>
            <div class="p2a_content">
                <div class="p2a_content_text">
                    Компания, созданная командой увлечённых профессионалов, стремится предложить уникальный для
                    нашей страны сервис аренды по-настоящему эксклюзивных автомобилей. С нами вам больше не
                    нужно беспокоиться о регулярных ремонтах, высоких налогах или сезонном хранении машины. Всё,
                    что остается вам — это получать удовольствие от вождения автомобиля своей мечты.
                </div>
                <div class="p2a_content_text">
                    Ваша безопасность — наш главный приоритет. Мы уделяем особое внимание строгому контролю за
                    техническим состоянием и чистотой наших автомобилей. Это одна из ключевых особенностей Luma
                    AutoRent, и мы следуем этому принципу во всём. Мы гарантируем, что каждая поездка на любом
                    из наших автомобилей оставит у вас яркие эмоции и незабываемые впечатления.
                </div>
            </div>
            <div class="p2a_content">
                <div class="p2a_content_text">
                    Мы предоставляем в аренду эксклюзивные автомобили, предлагая комфорт, стиль и безопасность.
                    Наслаждайтесь поездками на авто мечты без забот о ремонтах, налогах и хранении — мы обо всем
                    позаботимся за вас! Наша компания гарантирует высокий уровень сервиса и идеальное состояние
                    каждого автомобиля. Мы стремимся сделать каждую вашу поездку особенной и незабываемой. С
                    нами аренда автомобиля становится не просто удобством, а настоящим удовольствием.
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}